#sidan {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1%;
}
@media only screen and (max-width: 1375px)
{
  #sidan {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
  }
}
@media only screen and (max-width: 825px) {
  #title {
    display: none;
  }
}
hr {
	border: 0;
	height: 1px;
  margin-left: 25%;
  margin-right: 25%;
	background-image: linear-gradient(left , rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 100%);
	background-image: -o-linear-gradient(left , rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 100%);
	background-image: -moz-linear-gradient(left , rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 100%);
	background-image: -webkit-linear-gradient(left , rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 100%);
	background-image: -ms-linear-gradient(left , rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		right bottom,
		color-stop(0, rgba(0, 0, 0, 0.1)),
		color-stop(0.5, rgba(0, 0, 0, 0.3)),
		color-stop(1.0, rgba(0, 0, 0, 0.1))
	);
}
.table {
  border-radius: 25px;
}
#txt_soft {
  color: #001699;
}
#txt_warning {
  color: #e0ae43;
}
#txt_danger {
  color: red;
}
